<div class="item">
    <div>Foto</div>
    <div>
        <input
            type="file"
            name="image"
            placeholder="Insira sua foto"
            value="{{ instructor.image }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input
            type="text"
            name="nome"
            value="{{ instructor.nome }}"
        >
    </div>
</div>

<div class="item">
    <div>Endereço</div>
    <div>
        <input
            type="text"
            name="endereco"
            value="{{ instructor.endereco }}"
        >
    </div>
</div>

<div class="item">
    <div>Número</div>
    <div>
        <input
            type="text"
            name="numero"
            value="{{ instructor.numero }}"
        >
    </div>
</div>

<div class="item">
    <div>Complemento</div>
    <div>
        <input
            type="text"
            name="complemento"
            value="{{ instructor.complemento }}"
        >
    </div>
</div>

<div class="item">
    <div>Bairro</div>
    <div>
        <input
            type="text"
            name="bairro"
            value="{{ instructor.bairro }}"
        >
    </div>
</div>

<div class="item">
    <div>Cep</div>
    <div>
        <input
            type="text"
            name="cep"
            value="{{ instructor.cep }}"
        >
    </div>
</div>

<div class="item">
    <div>Cidade</div>
    <div>
        <input
            type="text"
            name="cidade"
            value="{{ instructor.cidade }}"
        >
    </div>
</div>

<div class="item">
    <div>Estado</div>
    <div>
        <input
            type="text"
            name="estado"
            value="{{ instructor.estado }}"
        >
    </div>
</div>

<div class="item">
    <div>País</div>
    <div>
        <input
            type="text"
            name="pais"
            value="{{ instructor.pais }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome do Pai</div>
    <div>
        <input
            type="text"
            name="nomePai"
            value="{{ instructor.nomePai }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome da Mãe</div>
    <div>
        <input
            type="text"
            name="nomeMae"
            value="{{ instructor.nomeMae }}"
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input
                type="radio" 
                name="gender" 
                value="M" 
                {% if instructor.gender == 'M' %}
                    checked
                {% endif %} 
                > Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="F"
                {% if instructor.gender == 'F' %}
                    checked
                {% endif %} 
                > Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>RG</div>
    <div>
        <input
            type="text"
            name="rg"
            value="{{ instructor.rg }}"
        >
    </div>
</div>

<div class="item">
    <div>CPF</div>
    <div>
        <input
            type="text"
            name="cpf"
            value="{{ instructor.cpf }}"
        >
    </div>
</div>


<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{ instructor.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Batismo</div>
    <div>
        <input
            type="text"
            name="batismo"
            value="{{ instructor.batismo }}"
        >
    </div>
</div>

<div class="item">
    <div>União</div>
    <div>
        <input
            type="text"
            name="uniao"
            value="{{ instructor.uniao }}"
        >
    </div>
</div>

<div class="item">
    <div>Estado Civil</div>
    <div>
        <input
            type="text"
            name="estadoCivil"
            value="{{ instructor.estadoCivil }}"
        >
    </div>
</div>

<div class="item">
    <div>Profissão</div>
    <div>
        <input
            type="text"
            name="profissao"
            value="{{ instructor.profissao }}"
        >
    </div>
</div>

<div class="item">
    <div>Empregado</div>
    <div>
        <input
            type="text"
            name="empregado"
            value="{{ instructor.empregado }}"
        >
    </div>
</div>

<div class="item">
    <div>Escolaridade</div>
    <div>
        <input
            type="text"
            name="escolaridade"
            value="{{ instructor.escolaridade }}"
        >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input
            type="text"
            name="email"
            value="{{ instructor.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Fone Residencial</div>
    <div>
        <input
            type="text"
            name="foneResidencial"
            value="{{ instructor.foneResidencial }}"
        >
    </div>
</div>

<div class="item">
    <div>Fone Comercial</div>
    <div>
        <input
            type="text"
            name="foneComercial"
            value="{{ instructor.foneComercial }}"
        >
    </div>
</div>

<div class="item">
    <div>Celular</div>
    <div>
        <input
            type="text"
            name="celular"
            value="{{ instructor.celular }}"
        >
    </div>
</div>

<div class="item">
    <div>Fone Recados</div>
    <div>
        <input
            type="text"
            name="foneRecados"
            value="{{ instructor.foneRecados }}"
        >
    </div>
</div>

<div class="item">
    <div>Veio de</div>
    <div>
        <input
            type="text"
            name="veioDe"
            value="{{ instructor.veioDe }}"
        >
    </div>
</div>

<div class="item">
    <div>Posição</div>
    <div>
        <input
            type="text"
            name="posicao"
            value="{{ instructor.posicao }}"
        >
    </div>
</div>

<div class="item">
    <div>É Dirigente</div>
    <div>
        <input
            type="text"
            name="eDirigente"
            value="{{ instructor.eDirigente }}"
        >
    </div>
</div>

<!--
<div class="item">
    <div>Área de atuação</div>
    <div>
        <input
            type="text"
            name="services"
            placeholder="Separe os serviços prestados por vírgula"
            value="{{ instructor.services }}"
        >
    </div>
</div>
-->
<button type="submit">Salvar</button>