<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% block head %}
        <title>AD Redenção</title>    
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
</head>
<body style=" background: url(https://vamosdepenaestrada.com.br/wp-content/uploads/2019/01/2-cachoeira-agua-azul-brasil-5.jpg) no-repeat center center / cover" >
    <header>
        <div class="title">
            <h1>AD Redenção - Sistema de Cadastro</h1>
        </div>
        <div class="links">
            <a href="/" class="active">Membros</a>
            <a href="/instructors/create">Cadastrar</a>
            <a href="/instructors/{{ instructors.id }}/edit">Editar</a>
        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>