{% extends "layout.njk" %}

{% block content %}

<h1>Hello World create</h1>

<form action="/members" method="post">

    <div class="campo">
        <label for="">Nome:</label>
        <input name="nome" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Endereço:</label>
        <input name="endereco" type="text" placeholder="Digite o endereço do membro">
    </div>

    <div class="campo">
        <label for="">Número:</label>
        <input name="numero" type="number" placeholder="Digite o número da casa">
    </div>

    <div class="campo">
        <label for="">Complemento:</label>
        <input name="complemento" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Bairro:</label>
        <input name="bairro" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">CEP:</label>
        <input name="cep" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Cidade:</label>
        <input name="cidade" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Estado:</label>
        <input name="estado" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">País:</label>
        <input name="pais" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Nome da mãe:</label>
        <input name="nomemae" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">RG:</label>
        <input name="rg" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">CPF:</label>
        <input name="cpf" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Data de nascimento:</label>
        <input name="datanascimento" type="date" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Data de batismo:</label>
        <input name="databatismo" type="date" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Estado civil:</label>
        <input name="estadocivil" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Data de união:</label>
        <input name="datauniao" type="date" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Empregado:</label>
        <input name="empregado" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Profissão:</label>
        <input name="profissao" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Escolaridade:</label>
        <input name="escolaridade" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Email:</label>
        <input name="email" type="email" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Celular:</label>
        <input name="celular" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Telefone residencial:</label>
        <input name="foneresidencial" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Telefone de recados:</label>
        <input name="fonerecados" type="number" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Veio da igreja:</label>
        <input name="veiodaigreja" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">Posição:</label>
        <input name="posicao" type="text" placeholder="Digite o nome do membro">
    </div>

    <div class="campo">
        <label for="">É dirigente:</label>
        <input name="edirigente" type="text" placeholder="Digite o nome do membro">
    </div>

    
    <button type="submit">Cadastrar</button>

</form>

{% endblock content %}