{% extends "layout.njk" %}

{% block content %}
<div class="card">

    {% for um in dadosDoBanco %}

        <div class="home-membro">

            <div class="item">
                <div>{{ um.nome }}</div>
            </div>

            <a href="/members/{{ um.id }}">Ver</a>

        </div>
        
        *******************************************************************************************************************

    {% endfor %}

</div>
{% endblock content %}