{% extends "layout.njk" %}

{% block content %}
<div class="card">

    *******************************************************************************************************************

    {% for um in dadosDoBanco %}
        
        <div class="pag-home">

            <div class="nome">
                <div>{{ um.nome }}</div>
            </div>

            <div class="ver">
                <a href="/members/{{ um.id }}">Ver</a>
            </div>

            <div class="editar">
                <a href="/members/{{ um.id }}/edit">Editar</a>
            </div>

        </div>
        
        *******************************************************************************************************************

    {% endfor %}

</div>
{% endblock content %}