{% extends "layout.njk" %}

{% block content %}

<div class="perfil">

    <div class="item">
        <div>Nome</div>
        <div>{{ dadosDoBanco.nome }}</div>
    </div>

    <div class="item">
        <div>Endereço</div>
        <div>{{ dadosDoBanco.endereco }}</div>
    </div>

        <div class="item">
        <div>Número</div>
        <div>{{ dadosDoBanco.numero }}</div>
    </div>

    <div class="campo">
        <div>Complemento:</div>
        <div>{{ dadosDoBanco.complemento }}</div>
    </div>

    <div class="campo">
        <div>Bairro:</div>
        <div>{{ dadosDoBanco.bairro }}</div>
    </div>

    <div class="campo">
        <div>CEP:</div>
        <div>{{ dadosDoBanco.cep }}</div>
    </div>

    <div class="campo">
        <div>Cidade:</div>
        <div>{{ dadosDoBanco.cidade }}</div>
    </div>

    <div class="campo">
        <div>Estado:</div>
        <div>{{ dadosDoBanco.estado }}</div>
    </div>

    <div class="campo">
        <div>País:</div>
        <div>{{ dadosDoBanco.pais }}</div>
    </div>

    <div class="campo">
        <div>Nome da mãe:</div>
        <div>{{ dadosDoBanco.nomemae }}</div>
    </div>

    <div class="campo">
        <div>RG:</div>
        <div>{{ dadosDoBanco.rg }}</div>
    </div>

    <div class="campo">
        <div>CPF:</div>
        <div>{{ dadosDoBanco.cpf }}</div>
    </div>

    <div class="campo">
        <div>Data de nascimento:</div>
        <div>{{ dadosDoBanco.datanascimento }}</div>
    </div>

    <div class="campo">
        <div>Data de batismo:</div>
        <div>{{ dadosDoBanco.databatismo }}</div>
    </div>

    <div class="campo">
        <div>Estado civil:</div>
        <div>{{ dadosDoBanco.estadocivil }}</div>
    </div>

    <div class="campo">
        <div>Data de união:</div>
        <div>{{ dadosDoBanco.datauniao }}</div>
    </div>

    <div class="campo">
        <div>Empregado:</div>
        <div>{{ dadosDoBanco.empregado }}</div>
    </div>

    <div class="campo">
        <div>Profissão:</div>
        <div>{{ dadosDoBanco.profissao }}</div>
    </div>

    <div class="campo">
        <div>Escolaridade:</div>
        <div>{{ dadosDoBanco.escolaridade }}</div>
    </div>

    <div class="campo">
        <div>Email:</div>
        <div>{{ dadosDoBanco.email }}</div>
    </div>

    <div class="campo">
        <div>Celular:</div>
        <div>{{ dadosDoBanco.celular }}</div>
    </div>

    <div class="campo">
        <div>Telefone residencial:</div>
        <div>{{ dadosDoBanco.foneresidencial }}</div>
    </div>

    <div class="campo">
        <div>Telefone de recados:</div>
        <div>{{ dadosDoBanco.fonerecados }}</div>
    </div>

    <div class="campo">
        <div>Veio da igreja:</div>
        <div>{{ dadosDoBanco.veiodaigreja }}</div>
    </div>

    <div class="campo">
        <div>Posição:</div>
        <div>{{ dadosDoBanco.posicao }}</div>
    </div>

    <div class="campo">
        <div>É dirigente:</div>
        <div>{{ dadosDoBanco.edirigente }}</div>
    </div>

</div>

{% endblock content %}